{
  "extends": [
    "skyscanner-with-prettier",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/default-props-match-prop-types": ["error", { "allowRequiredDefaults": true }],
    "react/prop-types": ["error", { "ignore": ["strings"]}]
  }
}
